@media screen and (min-width: 1128px) {
    .explore-airbnb {
        position: relative !important;
        max-width: 1760px !important;
        padding-right: 80px !important;
        padding-left: 80px !important;
        margin: 0px auto !important;
        background-color: white !important;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        color: rgb(72, 72, 72) !important;

    }
}

@media screen and (min-width: 744px) {
    .explore-airbnb {
        padding-left: 40px !important;
        padding-right: 40px !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        background-color: white !important;
    }
}

@media screen and (max-width: 743px) {
   .explore-airbnb{
        padding-left: 24px !important;
        padding-right: 24px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        background-color: white !important;
   } 
}

.explore-airbnb h3 {
    font-size: 24px;
    font-weight: 700;
    background-color: white;
    padding-bottom: 10px !important;
}

.explore-airbnb span {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    bottom: 5px;
    @media (max-width: 743px) {
        font-size: 13px !important;
    }
}

.explore-ul::-webkit-scrollbar { 
    width: 0 !important 
}

.explore-ul { 
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
}

.explore-ul {
        @include display(flex);
        height: 100% !important;
        overflow-x: auto !important;
        overflow-y: hidden !important;
        padding-left: 0px !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        min-width: 100% !important;
        scroll-snap-type: x mandatory !important;
        list-style: none !important;

        a{
            color: rgb(72, 72, 72) !important;
            width: 100% !important;
            margin-right: 10px;
        }

        li {
            scroll-snap-align: start !important;
            scroll-snap-stop: always !important;
            @include display(flex);
            border-style: solid !important;
            border-color: transparent !important;
            width: 25% !important;
            @media (max-width: 743px) {
                width: 100% !important;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                @media (min-width: 744px) {
                    display: none;
                }
                @media (max-width: 743px) {
                    width: 133px !important;
                }

                @media (max-width: 600px) {
                    width: 123px !important;
                }
            }
        }

        .div-left-one {
            background: url('./images/explore-one.jpg') !important;
        }

        .div-left-two {
            background: url('./images/explore-two.jpg') !important;
        }

        .div-left-three {
            background: url('./images/explore-three.jpg') !important;
        }

        .div-left-four {
            background: url('./images/explore-four.jpg') !important;
        }

        .div-left {
            width: 100% !important;
            height: 100% !important;
            overflow: hidden !important;
            position: relative !important;
            background-size: 100% 100% !important;
            background-repeat: no-repeat !important;
        }

        .div-right {
            width: 100% !important;
            vertical-align: middle !important;
            white-space: normal !important;
            padding: 10px 16px 10px !important;
            @include display(flex);
            height: 25% !important;
            @include align-items(center);
            overflow: hidden;
            @media (max-width: 743px) {
                padding: 20px 16px 10px !important;
                height: 50px !important;
            }
        }

        .explore-column {
            @include display(flex);
            @include flex-direction(column);
            background-color: transparent !important;
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px !important;
            float: left !important;
            margin-bottom: 4px !important;
            text-align: left !important;
            width: 100% !important;
            max-width: 100% !important;
            border-width: 1px !important;
            border-style: solid !important;
            border-color: rgba(0, 0, 0, 0.1) !important;
            border-image: initial !important;
            border-radius: 12px !important;
            padding: 0px !important;
            height: 234px;
            overflow: hidden !important;
            margin-right: 5px;

            @media (max-width: 1123px) {
                height: 204px !important;
            }

            @media (max-width: 1000px) {
                height: 175px !important;
            }

            @media (max-width: 743px) {
                height: 135px !important;
                max-width: 133px !important;
            }

            @media (max-width: 600px) {
                max-width: 123px !important;
            }
        }
}