@media screen and (min-width: 1128px) {
    .explore-airbnb {
        position: relative !important;
        max-width: 1760px !important;
        padding-right: 80px !important;
        padding-left: 80px !important;
        margin: 0px auto !important;
        background-color: white !important;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        color: rgb(72, 72, 72) !important;

    }
}

.explore-airbnb h3 {
    font-size: 24px;
    font-weight: 700;
}

.explore-airbnb span {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    bottom: 5px;
}
.explore-ul {
        @include display(flex);
        height: 100% !important;
        overflow-x: auto !important;
        overflow-y: hidden !important;
        padding-left: 0px !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        min-width: 100% !important;
        scroll-snap-type: x mandatory !important;
        list-style: none !important;

        a{
            color: rgb(72, 72, 72) !important;
            width: 100% !important;
            margin-right: 10px;
        }

        li {
            scroll-snap-align: start !important;
            scroll-snap-stop: always !important;
            @include display(flex);
            border-style: solid !important;
            border-color: transparent !important;
            width: 25% !important;
        }

        .div-left-one {
            width: 100% !important;
            height: 100vh !important;
            overflow: auto !important;
            background: url('./images/explore-one.jpg') !important;
            position: relative !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
        }

        .div-left-two {
            width: 100% !important;
            height: 100vh !important;
            overflow: auto !important;
            background: url('./images/explore-two.jpg') !important;
            position: relative !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
        }

        .div-left-three {
            width: 100% !important;
            height: 100vh !important;
            overflow: auto !important;
            background: url('./images/explore-three.jpg') !important;
            position: relative !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
        }

        .div-left-four {
            width: 100% !important;
            height: 100vh !important;
            overflow: auto !important;
            background: url('./images/explore-four.jpg') !important;
            position: relative !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
        }

        .div-right {
            width: 100% !important;
            vertical-align: middle !important;
            white-space: normal !important;
            padding: 2px 16px 10px !important;
            @include display(flex);
            height: 30% !important;
            @include align-items(center);
            overflow: hidden;
        }

        .explore-column {
            @include display(flex);
            @include flex-direction(column);
            background-color: transparent !important;
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px !important;
            float: left !important;
            margin-bottom: 4px !important;
            text-align: left !important;
            width: 100% !important;
            border-width: 1px !important;
            border-style: solid !important;
            border-color: rgba(0, 0, 0, 0.1) !important;
            border-image: initial !important;
            border-radius: 12px !important;
            padding: 0px !important;
            height: 234px;
            overflow: hidden !important;
            margin-right: 5px;
        }
}