.navbar-mobile {
    display: none;

    @media (max-width: 743px) {
        display: block;
    }
}

#mobile-logo {
    height: 1em;
    width: 2em;
    display: block;
    fill: currentColor;
    font-size: 34px;
    color: white;
  }

  .navbar-mobile #mobile-expand {
    height: 1em; 
    width: 1em; 
    display: block; 
    fill: currentcolor;
    color: white;
    font-size: 10px;
    @include align-self(center);
    margin-left: -10px;
    transition: 0.5s;
  }

  #mobile-dropdown {
      @include display(inline-flex);
      cursor: pointer;
      position: relative;
      top: 15px;
      z-index: 8888;
  }

.mobile-overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 88;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .mobile-overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .mobile-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .mobile-overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  @media screen and (max-height: 450px) {
    .mobile-overlay {overflow-y: auto;}
    .mobile-overlay a {font-size: 20px}
  }

  .rotated {
      transform: rotate(180deg);
      transition: 0.5s;
  }

  .full-height {
      height: 100%;
  }

  .fixed {
      position: fixed !important;
  }

  .red {
    color: rgb(255, 90, 95) !important;
  }

  .overflow-hidden {
      overflow: hidden;
  }
  
  .black {
      color: black !important;
  }