@import "bourbon/bourbon";

@import "partials/explore";

@import "partials/movie";

@import "partials/losangeles";

@import "partials/stay";

@import "partials/recommended";

@import "partials/bookingmobile";

@import "partials/navbar_mobile";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    @include flex-direction(column);
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .header-container {
    background: url("images/oregon-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-bottom: 70px;

    @media (max-width: 743px) {
      min-height: 45vh;
      padding-bottom: 0px;
    }
  }
  
  .main-navbar {
    @include display(flex);
    @include align-items(center);
    height: 80px;
    color: white;
    
    @media (max-width: 743px) {
      display: none !important;
    }
  }
  
  .main-navbar svg {
    height: 1em;
    width: 2em;
    display: block;
    fill: currentColor;
    font-size: 34px;
  }
  
  .main-navbar ul {
    @include display(flex);
    margin-left: auto;
  }
  
  .main-navbar ul li {
    list-style-type: none;
  }
  
  .main-navbar ul li a {
    color: #ffffff;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none !important;
  }
  
  .booking {
    background: #ffffff !important;
    border-radius: 4px !important;
    padding: 32px !important;
    padding-bottom: 24px !important;
    width: 441px !important;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12) !important;
    margin-left: 80px;
    
    @media (max-width: 743px) {
      display: none;
    }

    h1 {
      font-size: 32px;
      font-weight: 600;
    }
  }
  
  .booking span {
    font-size: 12px !important;
    font-weight: 800 !important;
    letter-spacing: 1px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    display: block;
  }
  
  .booking input.where {
    font-size: 17px !important;
    background-color: transparent !important;
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    text-overflow: ellipsis !important;
  }
  
  input.where:focus {
    outline: none;
  }
  
  .where-container {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: relative !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    background-color: #ffffff !important;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    height: 48px !important;
    width: 100% !important;
  }
  
  .checkin-out {
    @include display(flex);
  }
  
  .checkin-container {
    width: 50%;
  }
  
  .checkout-container {
    width: 50%;
  }
  
  .checkin-input {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    text-transform: undefined !important;
    color: #484848 !important;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    font-weight: normal !important;
    background-color: transparent !important;
    border: 0px !important;
    padding-left: 11px !important;
    padding-right: 11px !important;
    width: 100% !important;
    margin: 0px !important;
  }
  
  .checkout-input {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    text-transform: undefined !important;
    color: #484848 !important;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    font-weight: normal !important;
    background-color: transparent !important;
    border: 0px !important;
    padding-left: 11px !important;
    padding-right: 11px !important;
    width: 100% !important;
    margin: 0px !important;
  }
  
  .checkinout-input-wrapper {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    text-transform: undefined !important;
    color: #484848 !important;
    border: 1px solid #EBEBEB !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 4px !important;
    background-color: #ffffff !important;
    position: relative !important;
    z-index: 0 !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: block !important;
    width: 100% !important;
  }
  
  .dropdown-toggle {
    background: none !important;
    position: relative !important;
    text-align: left !important;
    border: 1px solid #EBEBEB !important;
    border-radius: 3px !important;
    padding: 11px !important;
    padding-top: 8px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: normal !important;
    display: block !important;
    width: 100% !important;
    height: 48px !important;
    color: #767676 !important;
  }
  
  .dropdown-toggle span {
    display: inline;
  }
  
  .counter {
    @include display(flex);
    @include justify-content(space-around);
  }
  
  .counter span {
    @include flex-grow(1);
    text-align: center !important;
  }
  
  .counter-components {
    @include display(flex);
    width: 100%;
    max-width: 86px;
  }
  
  .counter-score {
    @include flex-grow(1);
  }
  
  .counter-action {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    cursor: pointer !important;
    text-align: center !important;
    line-height: 1 !important;
    position: relative !important;
    touch-action: manipulation !important;
    height: 32px !important;
    width: 32px !important;
    box-shadow: none !important;
    border-radius: 50% !important;
    border-style: solid !important;
    border-color: #008489 !important;
    background: transparent !important;
    border-width: 1px !important;
  }
  
  .button-search {
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition-property: background, border-color, color !important;
    -moz-transition-property: background, border-color, color !important;
    transition-property: background, border-color, color !important;
    -webkit-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
    -webkit-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important;
    width: auto !important;
    cursor: pointer !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    text-transform: undefined !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 800 !important;
    border-width: 2px !important;
    border-style: solid !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
    min-width: 71.193495505px !important;
    box-shadow: none !important;
    background: #FF5A5F !important;
    border-color: transparent !important;
    color: #ffffff !important;
    margin-top: 25px !important;
  }
  
  .flex {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .just-flex-end {
    @include justify-content(flex-end);
  }
  
  .maximum-width {
    width: 100%;
  }

  ul li {
    list-style-type: none;
  }

  span.right-arrow {
    color: rgb(0, 132, 137);
    display: none !important;

    @media (min-width: 744px){
      display: inline !important;
      margin-left: 6px !important;
    }

    svg {
      fill: currentColor;
      width: 10px !important;
      height: 10px !important;
    }
  }

  .container {
    padding-left: 24px !important;
    padding-right: 24px !important;
    max-width: 1600px !important;
    margin-top: 32px !important;
    margin-bottom: 32px !important;

    @media (min-width: 744px) {
        padding-left: 40px !important;
        padding-right: 40px !important;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    
    @media (min-width: 1128px) {
        position: relative !important;
        max-width: 1760px !important;
        padding-right: 80px !important;
        padding-left: 80px !important;
        margin: 0px auto !important;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
  }

  h3 {
    font-weight: 700 !important;
    margin-bottom: 0px !important;
    font-size: 24px !important;
    line-height: 30px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #484848 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }

  h4 {
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    font-weight: normal !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
  }

  .slider {
    @include display(flex);
    @include flex-direction(column);
    height: 100% !important;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    min-width: 100% !important;
    scroll-snap-type: x mandatory !important;
    list-style: none !important;
  }

  .slider-item {
    width: 100% !important;
    height: 264px !important;
    @include display(flex);
    @include justify-content(center);
    display: flex !important;
    position: relative;
}

.slider-item img {
  height: 100%;
  width: 100% !important;
  object-fit: cover !important;
}

.slider-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.7) 100%) !important;
  padding-top: 40px;
}

.slider-content h4 {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 17.5px !important;
  font-weight: 700 !important;
  line-height: 1em !important;
  color: rgb(255, 255, 255) !important;
  text-align: center !important;
  margin: 0px !important;
}

.slider-content span {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 1.28571em !important;
  color: rgb(255, 255, 255) !important;
  text-align: center !important;
  margin: 0px !important;
}

vaadin-date-picker {
  max-width: 188px;
}